@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-text: oklch(15.68% 0.015 278.19);
  --color-background: oklch(97.35% 0.005 274.97);
  --color-primary: oklch(35.27% 0.097 273.54);
  --color-secondary: oklch(69.48% 0.088 23.11);
  --color-accent: oklch(70.77% 0.11 95.24);

  --color-nl-purple: rgb(102, 100, 241);

  --linearPrimarySecondary: linear-gradient(
    oklch(35.27% 0.097 273.54),
    oklch(69.48% 0.088 23.11)
  );
  --linearPrimaryAccent: linear-gradient(
    oklch(35.27% 0.097 273.54),
    oklch(70.77% 0.11 95.24)
  );
  --linearSecondaryAccent: linear-gradient(
    oklch(69.48% 0.088 23.11),
    oklch(70.77% 0.11 95.24)
  );
  --radialPrimarySecondary: radial-gradient(
    oklch(35.27% 0.097 273.54),
    oklch(69.48% 0.088 23.11)
  );
  --radialPrimaryAccent: radial-gradient(
    oklch(35.27% 0.097 273.54),
    oklch(70.77% 0.11 95.24)
  );
  --radialSecondaryAccent: radial-gradient(
    oklch(69.48% 0.088 23.11),
    oklch(70.77% 0.11 95.24)
  );

  /*Dark mode */
  --color-text-dark: oklch(94.74% 0.009 279.69);
  --color-background-dark: oklch(12.93% 0.01 271.95);
  --color-primary-dark: oklch(70.32% 0.083 277);
  --color-secondary-dark: oklch(42.49% 0.1 25.45);
  --color-accent-dark: oklch(70.77% 0.11 95.24);

  --linearPrimarySecondaryDark: linear-gradient(
    oklch(70.32% 0.083 277),
    oklch(42.49% 0.1 25.45)
  );
  --linearPrimaryAccentDark: linear-gradient(
    oklch(70.32% 0.083 277),
    oklch(70.77% 0.11 95.24)
  );
  --linearSecondaryAccentDark: linear-gradient(
    oklch(42.49% 0.1 25.45),
    oklch(70.77% 0.11 95.24)
  );
  --radialPrimarySecondaryDark: radial-gradient(
    oklch(70.32% 0.083 277),
    oklch(42.49% 0.1 25.45)
  );
  --radialPrimaryAccentDark: radial-gradient(
    oklch(70.32% 0.083 277),
    oklch(70.77% 0.11 95.24)
  );
  --radialSecondaryAccentDark: radial-gradient(
    oklch(42.49% 0.1 25.45),
    oklch(70.77% 0.11 95.24)
  );
}

@utility prose {
  color: var(--color-text);
  max-width: 72ch;
  em {
    color: var(--color-accent);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-text-dark);
    em {
      color: var(--color-accent-dark);
    }
  }
}
